[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
rope = "*"

[packages]
requests = "*"
pymysql = "*"
elasticsearch = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
